p {
    font-family: verdana, arial;
    font-size: 16px;
  }

.pink_card {
    background-color: #f1cef686;
}

.blue_card {
    background-color: #cef3f6;
}

.social {
    color: rgb(0, 0, 0);
    text-decoration:none
}